@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--main_bg: #121212;

	--overlay_1: #1e1e1e;
	--overlay_2: #2d2d2d;
	--overlay_3: #333;

	--err: #cf6679;

	--green: #066e32;
	--green-border: 1px solid #235100;

	--yellow: #d5a731;
	--yellow-border: 1px solid #604e00;

	--border-radius: 5px;
}

body {
	color: #fff;
}

* {
	text-shadow: none !important;
	font-family: Roboto, sans-serif !important;
	font-weight: normal !important;
}

/*
    ///
    ///       Delete
    ///
*/

.copyright,
.login_mainframe > div > div.center > a > img,
#loginLogo,
#logo,
#top_content,
.login-span6right,
body.login .logo_border,
form[name='search'],
.login-span6right {
	display: none !important;
}

body,
.center250,
.login_mainframe,
.login_mainframe_extended {
	background: var(--main_bg) !important;
}

.login_formtable,
.h2_innerno_pad {
	background: var(--overlay_2) !important;
}

.h2_innerno_pad {
	border: 0 !important;
	border-top: 1px solid #ccc !important;
}

.dayViewTopRight,
.dayViewTopLeft,
.dayViewBotLeftLast,
.dayViewBotLeft {
	border-color: #dedede33 !important;
	color: #ccc;
}

body > div:nth-child(20):not(#ucss-code-wrapper) {
	border: 1px solid #666 !important;
	border-radius: var(--border-radius) !important;
	overflow: hidden;
	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 1);
}

body > div:nth-child(20):not(#ucss-code-wrapper) div {
	background: #343434 !important;
	color: #ccc !important;
}

body.login {
	height: auto;
	overflow: hidden;
	padding-top: 40px;
}

.login_mainframe > div > div.center > a::after,
.login_mainframe_extended > div > div.center > a::after,
#top_left::after {
	content: '';
	background-image: url('https://lh3.googleusercontent.com/a8DuKyjOJyOvsnDplbsOxep4pGb_MztqfjWJZ652w5u3RDOkbghmBT9q6e74d7SU5j-3sGht_e_HAGwitmIYJEQZorOyr5wHDzEiATNmEeReksffz2LWLqBjuoavVYRcLkdlbeBMjK_4w6ns3VThKd2Waf0nfLHmGlQIuvuyQPy8b-3c4-q92jHq6i-k4ZY4pLCMfGKPB8g7Jd8GoscKQ8_pJjfP2GTjbbwV63zmjCaZM4HSlULpkR27mpn1prFmSyxvGWpFHfWbwN_NhPlF5lrwzvyA7W3L8Xz2WJbOH4iQG7BIDPgrhRVKlulMeiw8fV76uSbX8oXfqAzYynAcV6aF_80MPdx5xi99_PxhAuA5gUhcNIAfl66-K8vMmeZ0vSryDtxLLqCcu9AJJbX0cfTsu-LTq01SV0IOQkq97xOILe6rhHp7PV977F5opJ9QdX8x_YnVDVZ-rDnYsdpe50XQFb5oGEQ1sDyLVDK_mgCJe9BLSBQEiyLfGMLy9rZ3tvfjtbF4AxKBemGnSsncEotYVSD8fHFgNgq7H-b7iwDspIWVHvO3z0V_02BqISksM56w3Xd9yIfg2xpDLSFIIBikvdkrIfpNt2hclhVzngsQPtTdJGcTJTwh-uhEkLSeLD-5CKqS1pwjMmIjntRrtSFmXTjVTsMWEm92TTlsjvs5LU3Et7EAwNmgmRY0aQ=w1920-h955-ft');
	background-size: cover;
	width: 100px !important;
	height: 40px;
	display: inline-block;
	transform: scale(1.2);
}

/*
    ///
    ///     Random
    ///
*/

label {
	color: #ccc !important;
}

.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.1) !important;
}

a {
	transition: color 0.2s;
}

.table a {
	color: #3a75c4 !important;
}

a:hover {
	color: #3f51b5 !important;
}

a.toplist-item {
	color: #a6a6a6 !important;
}

.heading_bold {
	font-size: 13px;
	font-weight: bold !important;
}

#date-week {
	background: var(--overlay_3);
	border-color: transparent !important;
}

#date-week select {
	border-color: transparent !important;
}

#opencloseprint,
#opencloseadd {
	color: #ccc;
	opacity: 1;
}

#leftMenu2[data-newui] {
	border: none;
}

#leftMenu2 ul li:hover {
	background: var(--overlay_1);
}

#menuicon img {
	filter: brightness(0) invert(1);
}

#menuicon:hover {
	background: var(--overlay_2);
}

/*
    ///
    ///    Login
    ///
*/

form:not([action='right_student_lunchmenu.jsp']) select,
option,
input:not([type='checkbox']):not(.btn):not([type='radio']) {
	box-shadow: 0 0 0 100px var(--overlay_3) inset !important;
	background: var(--overlay_3) !important;
	border: 1px solid #444 !important;
	color: #fff;
}

.alert-error {
	background: var(--err) !important;
	border: 0 !important;
	color: #000;
}

.login_formtable {
	border: 0 !important;
}

.h1,
.formheader,
.login_formtable select {
	color: #fff !important;
}

.formheader {
	font-size: 16px;
	text-align: center;
}

.colmask {
	top: 70px !important;
}

.login-span6left {
	margin-left: 37.5% !important;
}

/*
    ///
    ///    Min profil
    ///
*/

#pwdadmin {
	background: transparent !important;
	border: 0 !important;
}

#pwdadmin .student {
	border: 1px solid #aaa !important;
}

#top_left {
	margin: 0;
	top: 25px;
	left: 70px;
	height: 50px;
	width: 200px;
}

/*
    ///
    ///     Top-nav
    ///
*/

#top {
	background: #1f1f1f !important;
	height: 50px !important;
}

#menu {
	margin-top: -50px;
	background: none;
}

#menu * {
	background: none;
}

#menu > table > tbody > tr > td:not(:nth-child(4)) {
	display: none;
}

#menu > table > tbody > tr > td:nth-child(4) td {
	width: 200px;
}

/*
    ///
    ///   .btn-group
    ///
*/

.btn-group {
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
	user-select: none;
}

.btn-group > a,
.btn-group > a > div {
	background: var(--overlay_3) !important;
	color: #ccc;
	border-color: transparent !important;
	cursor: pointer !important;
}

.btn-group a:hover div,
.btn-group a:hover {
	background: var(--overlay_3) !important;
	color: #fff;
}

.btn-group div select {
	cursor: pointer;
	width: 100%;
}

/*
    ///
    ///     Left Nav
    ///
*/

#leftMenu,
ul[data-newui] {
	background: var(--overlay_1) !important;
	border: none !important;
	/* border-radius: var(--border-radius) !important; */
	/* padding: 3px 0; */
}

#leftMenu .menu_item,
#leftMenu .menu_header,
#leftMenu .menu_item_selected {
	border: none !important;
}

#leftMenu .menu_header {
	color: #e4e4e4;
}

#leftMenu .menu_item:hover,
#leftMenu .menu_item_selected {
	background: #272727;
	color: #ccc;
}

#main {
	background: var(--overlay_1) !important;
	border: none !important;
	border-radius: var(--border-radius) !important;
}

.h2 {
	text-shadow: none !important;
	color: #fff !important;
}

.h2_box {
	background: var(--overlay_2) !important;
	border: 0 !important;
	text-shadow: none !important;
	border-radius: 5px 5px 0 0 !important;
}

.h2_box .h3 {
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	margin-top: 4px !important;
}

.h2_innerno_pad {
	border-radius: 0 0 5px 5px !important;
	padding-bottom: 5px;
}

.h3_bold {
	color: #ddd;
}

.h2_container {
	border-radius: var(--border-radius) !important;
	/* overflow: hidden !important; */
}

.table td {
	border-top: 1px solid #555 !important;
	background: var(--overlay_2) !important;
}

.heading_bold {
	color: #fff;
	font-weight: normal !important;
	font-size: 14px;
	padding-bottom: 2px;
}

/*
    ///
    ///    Startsida
    ///
*/

.dayViewDetailedTextBox {
	color: #fff;
}

.cal-lesson .dayViewDetailedTextBox {
	color: #fff;
}

.cal-test .dayViewDetailedTextBox {
	color: #fff;
}

.nav-tabs li.active > a {
	background: #242424 !important;
	border: 1px solid #333 !important;
}

.nav > li > a {
	color: #a2a2a2 !important;
}

ul.nav.nav-tabs > li > a:hover {
	background: #242424 !important;
	border: 1px solid #333 !important;
}

/*
    ///
    ///     Skolinfo
    ///
*/

.formtable {
	background: var(--overlay_3) !important;
	border: 0 !important;
}

/*
    ///
    /// Table-striped
    ///
*/

.content_wrapper > .table-striped {
	padding: 10px;
	background: var(--overlay_2) !important;
	border-collapse: unset;
	border-radius: var(--border-radius) !important;
}

.table-striped tr:last-child {
	border: 0 !important;
}

.table-striped tr td {
	color: #fff !important;
	border: 0 !important;
	margin-left: 10px !important;
}

.table-striped tr:nth-child(even) td {
	background: var(--overlay_2) !important;
}

.table-striped tr:nth-child(odd) td {
	background: var(--overlay_3) !important;
}

.table-striped tr:nth-child(odd) td:first-child:last-child {
	border-radius: var(--border-radius) !important;
}

.table-striped tr:nth-child(odd) td:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.table-striped tr:nth-child(odd) td:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.longlistheader {
	background: transparent !important;
}

/*
    ///
    ///    Nyheter
    ///
*/

.accordion-group {
	border: 1px solid #444 !important;
	background: var(--overlay_2) !important;
}

.accordion-heading {
	background: var(--overlay_3) !important;
	border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.accordion-inner {
	border-top: 1px solid #444 !important;
}

.accordion_inner_left,
.acc-item-main {
	color: #ccc !important;
}

.accordion-heading a {
	color: #ccc !important;
}

.accordion-heading-left {
	color: #fff !important;
}

/*
    ///
    ///     Kalender
    ///
*/

/*
#week_calendar_time div {
  background: var(--layer_3);
}*/

.week_calendar_day,
#week_calendar_time {
	background-image: linear-gradient(
		to bottom,
		var(--overlay_3) 95%,
		#666 5%
	) !important;
	background-size: 100px 20px !important;
	background-repeat: repeat-y !important;
}

/*
    ///
    ///  Matsedel
    ///
*/

#lunchmenu_con_content {
	background: var(--overlay_2) !important;
	border-color: transparent !important;
}

#lunchmenu_con_content .h3_bold {
	color: #fff !important;
	font-size: 14px;
}

#lunchpicture {
	display: none;
}

.lunchtype span {
	color: #ccc !important;
}

#date-week select {
	background: var(--overlay_3) !important;
	color: #ccc;
}

/*
    ///
    ///    Scheman
    ///
*/

.schedulecell {
	border-color: #555 !important;
}

.schedulecell[style*='background-color:'] {
	/* display: none; */
}

.schedulecell.light {
	background: var(--overlay_2) !important;
}

.schedulecell:not(.light):not([style*='background-color:']):not(.green) {
	background: var(--overlay_3) !important;
	color: #ccc !important;
}

.schedulecell:not(.light):not([style*='background-color:']):not(.green)
	a.schedule
	span {
	color: #ccc !important;
}

/*
    ///
    ///   Kontaktlistor
    ///
*/

.h2_inner {
	background: var(--overlay_2) !important;
	border: 0 !important;
	border-top: 1px solid #666 !important;
}

/*
    ///
    ///      Ämne
    ///
*/

.table-condensed td {
	border: 1px solid #444 !important;
	color: #fff !important;
}

.table-condensed td .yellow {
	background: var(--yellow) !important;
	border: var(--yellow-border) !important;
	color: #000 !important;
}

.table-condensed td .green {
	background: var(--green) !important;
	border: var(--green-border) !important;
}

.table-condensed td:nth-child(4n + 1),
.table-condensed .longlistheader td {
	color: #ccc !important;
}

#contAll_content {
	padding: 10px !important;
}

/*
    ///
    ///      Betyg
    ///
*/

/*

.table-striped ~ table td,
.table-striped ~ p {
  color: #ccc !important;
}

*/

/*
    ///
    ///      Pagination
    ///
*/

.pagination a {
	background: var(--overlay_3) !important;
	border: 0 !important;
	color: #3a75c4 !important;
}

.pagination .active a {
	color: #aaa !important;
}

.border-bottom {
	border: none !important;
}

.ui-widget-content,
.ui-widget {
	background: var(--overlay_1) !important;
	border: none !important;
}

.ui-widget-content::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.ui-widget-content::-webkit-scrollbar-track {
	background: var(--overlay_1);
}

.ui-widget-content::-webkit-scrollbar-thumb {
	background: var(--overlay_2);
	border-radius: 5px;
}

.ui-widget-content::-webkit-scrollbar-thumb:hover {
	background: var(--overlay_3);
}

.ui-dialog-titlebar {
	background: var(--overlay_1);
	border: none;
	color: #fff;
}

img[alt='Logotyp'] {
	filter: invert(1);
}

.MuiPaper-root {
	background-color: var(--overlay_1);
	color: white;
	border: none;
}

.MuiDivider-root {
	border-color: var(--overlay_3);
}

.MuiList-root::-webkit-scrollbar {
	width: 0;
}

.MuiPaper-elevation {
	border-right: 1px solid var(--overlay_3) !important;
}

.MuiTypography-root {
	color: white;
}

.css-ken2ea::before,
.css-ken2ea::after {
	border-top-color: var(--overlay_3);
}
