.colmask {
	top: 39px;
}

.h2_box {
	background: rgba(46, 107, 245, 0.5);
	color: white;
	/*border-radius: 5px 5px 0 0;*/
	border: none;
}

.h2_container {
	border-radius: 10px;
	border-collapse: separate;
	perspective: 1px;
	overflow: hidden;
	border: 1px solid #ccc; 
}

.h2_inner, .h2_innerno_pad {
	border: none;
}

.table {
	width: 100% !important;
}

.h2_innerno_pad {
	width: 100%;
}

.table tr:last-child {
	border: none;
}

#header {
	height: 47px;
}

#main {
	margin-top: 1;
	width: 100%;
}

#profileicon {
	background: : url(https://freesvg.org/img/abstract-yser-flat-4.png);
	width: 30px;
	height: 30px;
	padding: 0 0px;
	margin: auto 0 auto 10px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid black;
}
#profileicon:hover {
	cursor: pointer;
	background: #dadada;
}

#top {
	background: #eaeaea;
	display: flex;
	padding-right: 5px;
}

#logoL {
	margin: auto 10px auto 10px;
}
#logoL:hover {
	cursor: pointer;
}

#menuicon {
	margin: auto 0;
	margin-left: 24px;
	/*margin-bottom: 2px;*/
	width: 30px;
	height: 30px;
	border-radius: 10%;
	padding: 0 3px;
	padding-bottom: 0;
}

#menuicon:hover {
	background: #dadada;
	cursor: pointer;
}

#menuicon:active {
	background: #cacaca;
	border: none;
}
#menuicon:focus {
	border: none;
	box-shadow: none;
}

.leftmenu .col2 {
	left: 0;
	box-shadow: 25px 5px 5px #bbb;
}

.leftmenu .colright {
	left: 0;
	/*min-width: 100%;*/
}

.col1 {
	/*min-width: 100%;*/
}

.content_wrapper {
	/*min-width: 99%;*/
}

.menu_header {
	height: 30px;
	vertical-align: middle;
	font-size: 15px;
}

.main-navigation {
	list-style: none;
	margin: 0;
}

li {
  position: relative;
  border-bottom: 1px solid #ccc;
  line-height: 18px;
  margin: 0;
  height: 27px;
}
li:hover {
	cursor: default;
}
li a {
  color: #343434;
  text-align: left;
  text-decoration: none;
  display: block;
}
li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: white;
  border: 1px solid #ccc;
}
li ul li a {
  text-align: left;
  color: #343434;
  font-size: 14px;
  display: block;
  white-space: nowrap;
}
li ul li:hover {
  background-color: #dadada;
  color: #343434;
  cursor: pointer;
}
li ul {
  left: 100%;
  top: 0;
}

ul li:hover>ul {
  display: block;
}

.span6left, .span6right {
    width: 43%;
}

.span6right {
    float: left;
    margin-left: 1.25%;
}

#show_this {
	min-width: 47.5vw;
	max-width: 47.5vw;
}

.menu_header2 {
	border-left: none;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid transparent;
    border-top: none;
    padding-left: 12px;
    padding-top: 6px;
    min-height: 16px;
    padding-bottom: 5px;
    vertical-align: middle;
}
.menu_header2 {
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
    padding-bottom: 1px;
    border-right: 1px solid #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #343434;
    border-bottom: 1px solid #cccccc;
}

#leftMenu2 {
	float: left;
    position: relative;
    width: 100px;
    margin-left: 12px;
    line-height: 1.2;
    display: inline;
    background-color: #ffffff;
    margin-top: 9px;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

#menu_left2 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    /* height: 100%; */
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 5%); */
    width: 100px;
    float: left;
}

.second-navigation {
	list-style: none;
	margin: 0;
}

.leftmenu .col3 {
    float: left;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    box-shadow: 20px 5px 5px #bbb;
    color: #343434;
    text-align: left;
}

.col3 li:hover {
	background-color: #dadada;
	cursor: pointer;
}

.col2 ul li ul li {
	line-height: 18px;
	width: auto;
	padding: 5px;
}
