

.colmask[data-newui] {
	top: 39px !important;
}

.h2_box[data-newui] {
	background: rgba(46, 107, 245, 0.5) !important;
	color: white !important;
	/*border-radius: 5px 5px 0 0;*/
	border: none !important;
}

.h2_container[data-newui] {
	border-radius: 10px;
	border-collapse: separate;
	perspective: 1px;
	overflow: hidden;
	border: 1px solid #ccc; 
}

.h2_inner, .h2_innerno_pad[data-newui] {
	border: none;
}

.table[data-newui] {
	width: 100% !important;
}

.h2_innerno_pad[data-newui] {
	width: 100%;
}

.table tr:last-child[data-newui] {
	border: none;
}

#header[data-newui] {
	height: 47px;
}

#main[data-newui] {
	margin-top: 1;
	width: 98.8% !important;
}

#profileicon[data-newui] {
	background: url(https://img.icons8.com/ios-glyphs/30/menu-rounded.png);
	width: 30px;
	height: 30px;
	padding: 0 0px;
	margin: auto 0 auto 10px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid black;
}
#profileicon[data-newui]:hover {
	cursor: pointer;
	background: #dadada;
}

#top[data-newui] {
	background: #eaeaea !important;
	display: flex;
	padding-right: 5px;
}

#logoL[data-newui] {
	margin: auto 10px auto 10px;
}
#logoL[data-newui]:hover {
	cursor: pointer;
}

#menuicon[data-newui] {
	margin: auto 0;
	margin-left: 24px;
	/*margin-bottom: 2px;*/
	width: 30px;
	height: 30px;
	border-radius: 10%;
	padding: 0 3px;
	padding-bottom: 0;
}

#menuicon[data-newui]:hover {
	background: #dadada;
	cursor: pointer;
}

#menuicon[data-newui]:active {
	background: #cacaca;
	border: none;
  outline: none;
}
#menuicon[data-newui]:focus {
	border: none;
	box-shadow: none;
}

.leftmenu .col2[data-newui] {
	left: 0 !important;
	box-shadow: 25px 5px 5px #bbb;
}

.colright[data-newui] {
  min-width: 100% !important;
}

.leftmenu[data-newui] .colright[data-newui] {
	left: 0 !important;
	/* min-width: 100% !important; */
}

.leftmenu[data-newui] .colmask[data-newui] {
  width: auto;
}

.menu_header[data-newui] {
	height: 30px !important;
	vertical-align: middle !important;
	font-size: 15px !important;
}

.main-navigation[data-newui] {
	list-style: none;
	margin: 0;
}

li[data-newui] {
  position: relative;
  border-bottom: 1px solid #ccc !important;
  line-height: 18px !important;
  margin: 0 !important;
  height: 30px !important;
  min-height: 30px !important;
}
li[data-newui]:hover {
	cursor: default;
}
li[data-newui] a[data-newui] {
  color: #343434;
  text-align: left;
  text-decoration: none;
  display: block;
}
li[data-newui] ul[data-newui] {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: white;
  border: 1px solid #ccc;
}
li[data-newui] ul[data-newui] li[data-newui] a[data-newui] {
  text-align: left;
  color: #343434;
  font-size: 15px;
  display: block;
  white-space: nowrap;
}
li[data-newui] ul[data-newui] li[data-newui] {
  max-height: 27px;
  transform:translateZ(-1px);
}
li[data-newui] ul[data-newui] li[data-newui]:hover {
  background-color: #dadada;
  color: #343434;
  cursor: pointer;
}
li[data-newui] ul[data-newui] {
  left: 100%;
  top: 0;
}

ul[data-newui] li[data-newui]:hover>ul[data-newui] {
  display: block;
}

.span6left[data-newui], .span6right[data-newui] {
    width: 43% !important;
}

.span6right[data-newui] {
    float: right !important;
    margin-left: 1.25% !important;
}

#show_this[data-newui] {
	min-width: 47.5vw !important;
	max-width: 47.5vw !important;
}

.menu_header2[data-newui] {
	border-left: none;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid transparent;
    border-top: none;
    padding-left: 12px;
    padding-top: 6px;
    min-height: 16px;
    padding-bottom: 5px;
    vertical-align: middle;
}
.menu_header2[data-newui] {
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
    padding-bottom: 1px;
    border-right: 1px solid #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #343434;
    border-bottom: 1px solid #cccccc;
}

#leftMenu2[data-newui] {
	float: left;
    position: relative;
    width: 100px;
    margin-left: 12px;
    line-height: 1.2;
    display: inline;
    background-color: #ffffff;
    margin-top: 9px;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

#menu_left2[data-newui] {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    /* height: 100%; */
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 5%); */
    width: 100px;
    float: left;
}

.second-navigation[data-newui] {
	list-style: none;
	margin: 0;
}

.leftmenu .col3[data-newui] {
    float: left;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    box-shadow: 20px 5px 5px #bbb;
    color: #343434;
    text-align: left;
}

.col3 li:hover[data-newui] {
	background-color: #dadada;
	cursor: pointer;
}

.col2 ul li ul li[data-newui] {
	line-height: 18px;
	width: auto;
	padding: 5px;
}

.adblocker[data-newui] {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: black;
}
